body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
  background-color: #6b9ec0;
  text-align: center;
  padding: 50px;
}

h1 {
  color: #dd2c3b;
}

p {
  color: #333;
}
